<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container my=5">
     <div class="display-3 text-center">Hello Spring Security</div>
     <p class="lead"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime reprehenderit repudiandae sit. Alias aperiam aspernatur dolorum earum est excepturi incidunt, laborum neque optio perspiciatis, repellendus saepe tenetur unde voluptatem voluptatibus!</span><span>Architecto dignissimos doloribus in odio placeat rem sint totam? Debitis explicabo laborum magnam odit quos tenetur voluptates? Aspernatur dolorum impedit iste tenetur! Earum, est, hic? Animi, commodi, magnam! Quidem, sit.</span></p>
  </div>
</main>
</body>
</html>